node_modules
.output
.git
.gitignore
.env
.env.*

storybook-static
.storybook
.lighthouseci
.husky

repomix-output.xml
*.md
!README.md

.github
.vscode
.DS_Store
*.local

dist
dist-ssr
.nitro
.tanstack
.wrangler
.vinxi
report
todos.json
