:root {
  /* Text */
  --color-text-main: #000;
  --color-text-sub: #646464;

  /* Base UI */
  --color-border: #d9d9d9;
  --color-background: #f5f5f5;
  --color-cards: #e9ecf1;

  /* Attention */
  --color-attention: #1677ff;

  /* Warning */
  --color-warning: #ef5350;

  /* Active */
  --color-active: #ff9000;

  /* Accept */
  --color-accept: #66bb6a;

  /* Background-Sub */
  --color-background-sub: #fffcf7;

  /* Icons */
  --color-icons: #363538;

  --font-main: 'Inter', sans-serif;
  --font-accent: 'EB Garamond', sans-serif;
}
